@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
:root {
  --primary-color: #22223b;
  --primary-color-hover: #4a4e69;
  --secondary-color: #f2e9e4;
  --secondary-color-hover: #143f85;
  --light-color: #f4f4f4;
}

*, *:after, *:before {
    box-sizing: border-box;
  }

  /* Main body properties */
  body {
      font-family: 'PT Sans Narrow', sans-serif;
      background-color: #22223b;
      color: #f2e9e4;
      line-height: 5rem;
  }
 
  

  
  

  

 
 /* Body alignment */ 
  .container {
      text-align: center;
      padding: 5rem;
  }




 
  
  

  /* Header */
  .container h1{
    font-family: 'Poppins', sans-serif;
      font-size: 3rem;
      
 }





  #start a {
    text-decoration: none;
    
    
  }

 

  #main{
    text-align: center;
    padding-top: 10px;
    
  }

  /* About image styling */
  #abt1, #abt2, #abt3{
    text-align: center;
    display:inline-block;
    font-family: 'Lato', sans-serif;
    padding-left: 30px;
    padding-top: 30px;
  }

  #about_1, #about_2, #about_3{
    width: 80px;
  }

  
/* Row of about images */
  .row{
    text-align:center;
    margin:0 auto;
  }


  /* Github Icon styling */
  #icon {
    padding-top: 10px;
    text-align:center;
  }

  .btn {
    font-family: 'Lato', sans-serif;
      font-size: 15px;
      padding: 1px 20px;
      color: #f2e9e4;
      outline: 2px solid #C9ADA7;
      display:inline-block;
  }
  .btn-primary{
    background:var(--primary-color);
  }

  .btn-primary:hover{
    background: var(--primary-color-hover);
    padding: 1px 20px;
    

  }

  
 

 

  /* Divider line below button */
  hr{
    height: 1px;
    width: 800px;
    text-align: center;

    /* To adjust position relative to top of margin */
    margin-top: 140px;
    
    padding: 0;
    background-color: #f2e9e4;
    border: 0;
  }
 


/* Github Icon */
img{
       
  /* Adjusts position relative to top of margin */
  margin-top: 10px;
    
  /* Centers image between LR margins */
  margin-left: auto;
  margin-right: auto;
  width: 2.25%;
  }


  

  